<nav class="navbar navbar-light bg-light">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to(icon('fas', 'search', 'Company Search'), root_path, class: 'nav-link') %>
    </li>
    <li class="nav-item">
      <%= link_to(icon('far', 'address-book', 'Address Book'), contacts_path, class: 'nav-link') %>
    </li>
  </ul>
</nav>
